* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "TexGyreCursor", sans-serif;
  @include theme-switcher($light-theme-background, $light-theme-text);
  transition: background-color 0.3s, color 0.3s;

  &.dark {
    @include theme-switcher($dark-theme-background, $dark-theme-text);
  }
}


.theme-mode {
  width: 75px;
  background: $color-attributs;
  height: 50px;
  position: fixed;
  bottom: 50px;
  z-index: 10000;
  box-shadow: 0 0 21px $color-attributs;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined.toggleIcon {
  color: $color-icon;
  font-size: 40px;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/clock.png") center / cover;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-shadow: $light-shadow;
  position: relative;
  &.dark{
   border:none;
  }
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000000;
  z-index: 100;
  &.dark{
    background: #ffffff;
  }
}

.hour {
  position: absolute;
}

.hours {
  width: 160px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.hours:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: #ff105e;
  border-radius: 6px 6px 0 0;
  z-index: 10;
}

.minute {
  position: absolute;
}

.minutes {
  width: 190px;
  height: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.minutes:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 115px;
  @include bg-switcher(#000000);
  border-radius: 6px 6px 0 0;
  z-index: 11;
  &.dark {
    @include bg-switcher(#ffffff);
  }
}

.second {
  position: absolute;
}

.seconds {
  width: 230px;
  height: 230px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.seconds:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 145px;
  background: var(--theme-black);
  border-radius: 6px 6px 0 0;
  z-index: 12;
}

.calendar {
  position: relative;
  left: 50%;
}

.squared-left,
.squared-right {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 31px;
  border: 1px solid $color-icon;
  cursor: pointer;
}

.squared-left:hover,
.squared-right:hover {
  background-color: $color-attributs;
  border: none;
}

.squared-right::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 12px;
  border: solid $color-attributs;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.squared-right:hover:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 13px;
  border: solid $color-icon;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.squared-left::before {
  content: "";
  position: absolute;
  top: 11px;
  right: 9px;
  border: solid $color-attributs;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(135deg);
  cursor: pointer;
}

.squared-left:hover::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: solid $color-icon;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(135deg);
  cursor: pointer;
}

.month__name,
.year__this{
  display: inline-block;
}

td{
  text-align: center;
}
.active-day{
  background-color:$color-attributs;
  font-weight: bolder;
  color: $color-icon;
}