@font-face {
  font-family: "TexGyreCursor";
  src: url("../fonts/texgyrecursor.woff2")format("woff2");
  src: url("../fonts/texgyrecursor.woff")format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "TexGyreCursor";
  src: url("../fonts/texgyrecursorbold.woff2")format("woff2");
  src: url("../fonts/texgyrecursorbold.woff")format("woff");
  font-weight: 700;
}