.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  gap: 10px;
  margin: 200px 0 0 0;
  background: $color-footer;
  @include mq(sm) {
    gap: 50px;
  }
  .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.svg");
    background-size: 1600px 100px;
   &#wave1{
      opacity: 1;
      bottom: 0;
      animation: animatedWave 10s linear infinite;
    }
    &#wave2{
          z-index: 999;
          opacity: 1;
          bottom: 0;
          animation: animatedWave-02 8s linear infinite;
        }
   }
}

.clock {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/clock.png"), url("../img/js.png");
  background-size: cover;
  border: 1px solid $color-icon;
  border-radius: 50%;
  @include mq(xsc) {
    width: 200px;
    height: 200px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $color-icon;
    z-index: 100;
  }
  box-shadow: $light-shadow;
  &.dark{
    border:none;
    background: url("../img/clock.png"), url("../img/js.png"),
    radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, rgba(9,25,33,1) 38%);
    background-size: cover;
    border-radius: 50%;
    box-shadow: $dark-shadow;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #000000;
      z-index: 100;
    }
  }
}

.hour {
  position: absolute;
  .hours {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    @include mq(xsc) {
      width: 140px;
      height: 140px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 55px;
      background: #ffc600;
      border-radius: 6px 6px 0 0;
      z-index: 10;
      @include mq(xsc) {
        width: 5px;
        height: 90px;
      }
    }
  }
}

.minute {
  position: absolute;
  .minutes {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    @include mq(xsc) {
      width: 150px;
      height: 150px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 60px;
      @include bg-switcher(#000000);
      border-radius: 6px 6px 0 0;
      z-index: 11;
      @include mq(xsc) {
        width: 4px;
        height: 95px;
      }
      .dark {
        @include bg-switcher($color-icon);
      }
    }
  }
}

.dark {
  .minutes {
    &::before {
      @include bg-switcher($color-icon);
    }
  }
}

.second {
  position: absolute;
  .seconds {
    width: 105px;
    height: 105px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    @include mq(xsc) {
      width: 180px;
      height: 180px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 65px;
      @include bg-switcher(#000000);
      border-radius: 6px 6px 0 0;
      z-index: 12;
      @include mq(xsc) {
        width: 2px;
        height: 110px;
      }
    }
  }
}
.dark {
   .seconds {
       &::before {
       @include bg-switcher($color-icon);
    }
  }
}

.calendar {
  .squared-left,
  .squared-right {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $color-icon;
    cursor: pointer;
    @include mq(xsc) {
      width: 31px;
      height: 31px;
    }
  }

  .squared-left:hover,
  .squared-right:hover {
    background-color: $color-attributs;
    border: none;
  }

  .squared-right::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 6px;
    border: solid $color-attributs;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(-45deg);
    cursor: pointer;
    @include mq(xsc) {
      top: 11px;
      right: 12px;
    }
  }

  .squared-right:hover:before {
    content: "";
    position: absolute;
    top: 5px;
    right: 6px;
    border: solid $color-icon;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(-45deg);
    cursor: pointer;
    @include mq(xsc) {
      top: 12px;
      right: 13px;
    }
  }

  .squared-left::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 4px;
    border: solid $color-attributs;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(135deg);
    cursor: pointer;
    @include mq(xsc) {
      top: 11px;
      right: 9px;
    }
  }

  .squared-left:hover::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 5px;
    border: solid $color-icon;
    border-width: 0 1px 1px 0;
    padding: 3px;
    transform: rotate(135deg);
    cursor: pointer;
    @include mq(xsc) {
      top: 12px;
      right: 10px;
    }
  }

  .month,
  .year{
    margin: 0 0 10px 0;
  }

  .month__name,
  .year__this{
    display: inline-block;
    font-size: 14px;
    @include mq(xsc) {
      font-size: 16px;
    }
  }

  th{
    font-size: 14px;
    @include mq(xsc) {
      font-size: 16px;
    }
  }

  td{
    text-align: center;
    font-size: 14px;
    @include mq(xsc) {
      font-size: 16px;
    }
  }
  .active-day{
    background-color:$color-attributs;
    font-weight: bolder;
    color: $color-icon;
  }
}


@keyframes animatedWave {
  0% {
    background-position-x: 1600px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes animatedWave-02 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1600px;
  }
}
