:root {
  --theme-color: #5547a4;
  --theme-text: #ffffff;
  --theme-symbol: #fffff0;
  --thema-typing: #00ff00;
  --theme-black: #000000;
  --light-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
  inset 0 -15px 15px rgba(255, 255, 255, 0.05),
  0 15px 15px rgba(0, 0, 0, 0.3),
  inset 0 15px 15px rgba(0, 0, 0, 0.3);



  .dark {
    --theme-text: #000000;
    --theme-black: #ffffff;
    --dark-shadow: 0 -15px 15px rgba(0, 0, 0, 0.3),
    inset 0 -15px 15px rgba(0, 0, 0, 0.3),
    0 15px 15px rgba(255, 255, 255, 0.05),
    inset 0 15px 15px rgba(255, 255, 255, 0.05);
  }

}

.typewriter {
  font-size: 28px;
}

.typewriter-text {
  display: inline;
  color: var(--theme-black);
}

.typing-text {
  color: var(--thema-typing);

}

.context {
  color: var(--theme-black)
}

.theme-mode {
  width: 75px;
  background: var(--theme-color);
  height: 50px;
  position: fixed;
  bottom: 50px;
  z-index: 10000;
  box-shadow: 0 0 21px var(--theme-color);
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined {
  color: var(--theme-symbol);
  font-size: 30px;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/clock.png") center / cover;
  border: 4px solid var(--theme-text);
  border-radius: 50%;
  box-shadow: var( --light-shadow);
  position: relative;
}

.clock:before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--theme-black);
  z-index: 100;
}

.hour{
  position: absolute;
}

.hours{
  width: 160px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hours:before{
  content: "";
  position: absolute;
  width: 8px;
  height: 100px;
  background: #ff105e;
  border-radius: 6px 6px 0 0;
  z-index: 10;
}

.minute{
  position: absolute;
}

.minutes{
  width: 190px;
  height: 190px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.minutes:before{
  content: "";
  position: absolute;
  width: 4px;
  height: 115px;
  background: var(--theme-black);
  border-radius: 6px 6px 0 0;
  z-index: 11;
}

.second{
  position: absolute;
}

.seconds{
  width: 230px;
  height: 230px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.seconds:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 145px;
  background: var(--theme-black);
  border-radius: 6px 6px 0 0;
  z-index: 12;
}