.header{

}

.material-symbols-outlined.menu__icon-terminal{
  color: $color-icon;
  font-size: 50px;
}

.typewriter {
  font-size: 28px;
}

.typewriter-text {
  display: inline;
}

.typing-text {
  color: $color-typing;

}

