%title{
  font-size: clamp(22px, 6vw, 40px);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    top: 58px;
    left: calc(50% - 60px);
  }
  &:after {
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: $color-attributs;
    top: 10px;
    left: calc(50% - 20px);
  }
  }

%subtitle{
  font-size: clamp(16px, 3vw, 20px);
  font-weight: bold;
  line-height: 1.2;
}

%text{
  font-size: clamp(12px, 3vw, 16px);
  line-height: 1.5;
  span{

  }
}